<h1>Welcome to my home page</h1>

<%= link_to "Contact Us For More Information", "#", class: "show-contact-form" %>
<%= link_to "Show me news posts", "#", class: "show-news-posts" %>

<div class="contact-us-message">
  

</div>

<div class="news-posts">
</div>
