// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-post {

  border:1px solid #ddd;
  background:#eee;
  padding:10px 20px;

  margin:10px 0;
}